In [594]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

C:\Users\Owner\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [595]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [596]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
Thomas_ninth_reading = student_data_df.loc[(student_data_df['school_name'] == "Thomas High School") & (student_data_df['grade'] == "9th"), ['reading_score']] = "NaN"
Thomas_ninth_reading

'NaN'

In [597]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
Thomas_math_reading = student_data_df.loc[(student_data_df['school_name'] == "Thomas High School") & (student_data_df['grade'] == "9th"), ['math_score']] = "NaN"
Thomas_math_reading

'NaN'

In [598]:
#  Step 4. Check the student data for NaN's. 
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [599]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [600]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budgets
total_budget = school_data_df["budget"].sum()

In [601]:
# Calculate the Average Scores using the "clean_student_data".
clean_student_data = school_data_complete_df.drop(school_data_complete_df.loc[(school_data_complete_df["grade"] == "9th") & (school_data_complete_df["school_name"] == "Thomas High School")].index)

average_math_score = clean_student_data["math_score"].mean()
average_math_score

78.93053295099331

In [602]:
average_reading_score = clean_student_data["reading_score"].mean()
average_reading_score

81.85579580976001

In [603]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
Thomas_ninth_count = student_data_df.loc[(student_data_df['school_name'] == "Thomas High School") & (student_data_df['grade'] == "9th")].count()["Student ID"]

# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()

print(Thomas_ninth_count)
print (student_count)

461
39170

In [604]:
# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.

new_student_count = student_count - Thomas_ninth_count 
new_student_count

38709

In [605]:
school_data_complete_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score    object
math_score       object
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [606]:
# Calculate the passing rates using the "clean_student_data".

passing_math_count = clean_student_data[(clean_student_data["math_score"] >= 70)].count()["student_name"]
passing_reading_count = clean_student_data[(clean_student_data["reading_score"] >= 70)].count()["student_name"]

In [607]:
clean_student_data.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score    object
math_score       object
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [608]:
clean_student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [609]:
# Step 3. Calculate the passing percentages with the new total student count.

# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(new_student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(new_student_count) * 100

print(passing_math_percentage)
print(passing_reading_percentage)

74.76039164018704
85.6596657108166

In [610]:
 # Calculate the students who passed both reading and math.
passing_math_reading = clean_student_data[(clean_student_data["math_score"] >= 70)
                                               & (clean_student_data["reading_score"] >= 70)]


# Calculate the number of students that passed both reading and math.
overall_passing_count = passing_math_reading["student_name"].count()

# Step 4.Calculate the overall passing percentage with new total student count.

overall_passing_percentage = overall_passing_count / float(new_student_count) * 100
overall_passing_percentage

64.85571830840374

In [611]:
# Create a DataFrame
new_district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": new_student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])


# Display the data frame
new_district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,38709,24649428,78.930533,81.855796,74.760392,85.659666,64.855718

##  School Summary

In [612]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [623]:
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [624]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [625]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [626]:
# Calculate the average test scores.
clean_student_data["math_score"] = clean_student_data["math_score"].astype(dtype=int)
per_school_math = clean_student_data.groupby(["school_name"]).mean()["math_score"]

clean_student_data["reading_score"] = clean_student_data["reading_score"].astype(dtype=int)
per_school_reading = clean_student_data.groupby(["school_name"]).mean()["reading_score"]

In [627]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math_df = clean_student_data[(clean_student_data["math_score"] >= 70)]
per_school_passing_reading_df = clean_student_data[(clean_student_data["reading_score"] >= 70)]

In [628]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math

KeyError: 'school_name'

In [629]:
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

KeyError: 'school_name'

In [630]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math_percentage = per_school_passing_math / float(per_school_counts) * 100
per_school_passing_math_percentage
# Calculate the percent that passed math.
#passing_math_percentage = passing_math_count / float(new_student_count) * 100

#per_school_passing_reading_percentage = per_school_passing_reading / per_school_counts * 100

TypeError: cannot convert the series to <class 'float'>

In [631]:
# Calculate the students who passed both reading and math.
per_passing_math_reading = clean_student_data[(clean_student_data["reading_score"] >= 70) & (clean_student_data["math_score"] >= 70)]

In [632]:
# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [633]:
# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [634]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})

per_school_summary_df.tail()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,0.001038,0.001254,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,0.017188,0.017552,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.350937,83.896082,0.015309,0.015939,65.076453
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,0.007889,0.008113,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,0.016004,0.016566,90.333333

In [635]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:,.2f}".format)
per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:,.2f}".format)
per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:,.2f}".format)
per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:,.2f}".format)
per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:,.2f}".format)



# Display the data frame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,0.00,0.00,54.64
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,0.01,0.02,91.33
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,0.00,0.00,53.20
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,0.00,0.00,54.29
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,0.03,0.03,90.60
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,0.00,0.00,53.53
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,1.19,1.24,89.23
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,0.00,0.00,53.51
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,0.00,0.00,53.54
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,0.11,0.11,90.54
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,0.00,0.00,52.99
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,0.02,0.02,89.89
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.35,83.90,0.02,0.02,65.08
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,0.01,0.01,90.58
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,0.02,0.02,90.33

In [636]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
Thomas_tenth_count = student_data_df.loc[(student_data_df['school_name'] == "Thomas High School") & (student_data_df['grade'] == "10th")].count()["Student ID"]
Thomas_eleventh_count = student_data_df.loc[(student_data_df['school_name'] == "Thomas High School") & (student_data_df['grade'] == "11th")].count()["Student ID"]
Thomas_twelfth_count = student_data_df.loc[(student_data_df['school_name'] == "Thomas High School") & (student_data_df['grade'] == "12th")].count()["Student ID"]
Thomas_upperclass_count = Thomas_tenth_count + Thomas_eleventh_count + Thomas_twelfth_count
Thomas_upperclass_count

1174

In [637]:
# Step 6. Get all the students passing math from THS

THS_passing_math = clean_student_data.loc[(clean_student_data["school_name"] == "Thomas High School") & (clean_student_data["math_score"] >= 70)].count()["student_name"]
THS_passing_math

1094

In [638]:
# Step 7. Get all the students passing reading from THS

THS_passing_reading = clean_student_data.loc[(clean_student_data["school_name"] == "Thomas High School") & (clean_student_data["reading_score"] >= 70)].count()["student_name"]
THS_passing_reading

1139

In [639]:
# Step 8. Get all the students passing math and reading from THS

THS_passing_math_reading_count = clean_student_data.loc[(clean_student_data["school_name"] == "Thomas High School") 
                                                       & ((clean_student_data["math_score"] >= 70) & (clean_student_data["reading_score"] >= 70))].count()["student_name"]
THS_passing_math_reading_count

1064

In [640]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 

percent_passing_math_THS = THS_passing_math / float(Thomas_upperclass_count) * 100
percent_passing_math_THS

93.18568994889267

In [641]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.

percent_passing_reading_THS = THS_passing_reading / float(Thomas_upperclass_count) * 100
percent_passing_reading_THS

97.01873935264055

In [642]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 

THS_overall_passing_percentage = THS_passing_math_reading_count / float(Thomas_upperclass_count) * 100
THS_overall_passing_percentage

90.63032367972743

In [644]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.

In [26]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.

In [27]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.

In [646]:
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,0.00,0.00,54.64
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,0.01,0.02,91.33
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,0.00,0.00,53.20
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,0.00,0.00,54.29
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,0.03,0.03,90.60
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,0.00,0.00,53.53
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,1.19,1.24,89.23
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,0.00,0.00,53.51
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,0.00,0.00,53.54
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,0.11,0.11,90.54
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,0.00,0.00,52.99
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,0.02,0.02,89.89
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.35,83.90,0.02,0.02,65.08
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,0.01,0.01,90.58
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,0.02,0.02,90.33

## High and Low Performing Schools

In [645]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,0.01,0.02,91.33
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,0.03,0.03,90.60
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,0.01,0.01,90.58
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,0.11,0.11,90.54
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,0.02,0.02,90.33

In [647]:
# Sort and show bottom five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,0.00,0.00,52.99
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,0.00,0.00,53.20
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,0.00,0.00,53.51
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,0.00,0.00,53.53
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,0.00,0.00,53.54

## Math and Reading Scores by Grade

In [649]:
# Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [ ]:
# Create a Series of scores by grade levels using conditionals.


# Group each school Series by the school name for the average math score.


# Group each school Series by the school name for the average reading score.

In [32]:
# Combine each Series for average math scores by school into single data frame.

In [33]:
# Combine each Series for average reading scores by school into single data frame.

In [34]:
# Format each grade column.

In [35]:
# Remove the index.


# Display the data frame

In [36]:
## Remove the index.


# Display the data frame

## Scores by School Spending

In [37]:
# Establish the spending bins and group names.


# Categorize spending based on the bins.

In [38]:
# Calculate averages for the desired columns.

In [39]:
# Create the DataFrame

In [40]:
# Format the DataFrame

## Scores by School Size

In [41]:
# Establish the bins.

# Categorize spending based on the bins.

In [42]:
# Calculate averages for the desired columns.

In [43]:
# Assemble into DataFrame.

In [44]:
# Format the DataFrame

## Scores by School Type

In [45]:
# Calculate averages for the desired columns.

In [46]:
# Assemble into DataFrame.

In [47]:
# # Format the DataFrame